.button {
	padding: 24px 36px;
	color: #212121;
	font-family: "PF Agora Sans Pro - Thin";
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.16px;
	border-radius: 10px;
	border: 1px solid #010101;
	background-color: transparent;
	&:hover {
		cursor: pointer;
		color: #ffd200;
		border: 1px solid  #ffd200;
	}
}
main .box-botton .button-o {
	&:hover {
		background-color: #ffd200;
	}
}