main {
	.steps {
		padding-top: 55px;
		padding-bottom: 92px;
		margin: 0 auto;
		width: 80%;
		display: flex;
		justify-content: space-around;
		position: relative;
		vertical-align: midle;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 124px;
			width: 80%;
			height: 5px;
			margin: 0 auto;
			background-image: linear-gradient(to right, #ffd200 12px, #ffffff 12px);
			background-repeat: repeat-x;
			background-size: 24px 5px;
		}
		.step {
			z-index: 10;
			display: flex;
			text-align: center;
			flex-direction: column;
			font-size: 24px;
			img {
				width: 100%;
				margin-bottom: 25px;
				max-height: 139px;
				background-color: #fff;
			}
		}
	}
}
