@font-face {
	font-family: "PF Agora Sans Pro";
  src: url('../fonts/pfagorasanspro-reg.ttf');
  font-weight: 300, 400;
}
@font-face {
	font-family: "PF Agora Sans Pro";
  src: url('../fonts/ofont.ru_PF Agora Sans Pro.ttf');
  font-weight: 300;
}
@font-face {
	font-family: "PF Agora Sans Pro - Thin";
  src: url('../fonts/pfagorasanspro-thin.ttf');
  font-weight: 400;
}
@font-face {
	font-family: "PF Agora Sans Pro - X Thin";
  src: url('../fonts/pfagorasanspro-xthin.ttf');
  font-weight: 400;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	font-family: "PF Agora Sans Pro";
	color: #000;
}
@import 'interface';
@import 'header';
@import 'steps';
@import 'advantage';
@import 'products';
@import 'reviews';