@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-reg.ttf");
  font-weight: 300, 400; }
@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/ofont.ru_PF Agora Sans Pro.ttf");
  font-weight: 300; }
@font-face {
  font-family: "PF Agora Sans Pro - Thin";
  src: url("../fonts/pfagorasanspro-thin.ttf");
  font-weight: 400; }
@font-face {
  font-family: "PF Agora Sans Pro - X Thin";
  src: url("../fonts/pfagorasanspro-xthin.ttf");
  font-weight: 400; }
* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: "PF Agora Sans Pro";
  color: #000; }

.button {
  padding: 24px 36px;
  color: #212121;
  font-family: "PF Agora Sans Pro - Thin";
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.16px;
  border-radius: 10px;
  border: 1px solid #010101;
  background-color: transparent; }
  .button:hover {
    cursor: pointer;
    color: #ffd200;
    border: 1px solid  #ffd200; }

main .box-botton .button-o:hover {
  background-color: #ffd200; }

header {
  padding-top: 21px;
  margin: 0 auto;
  text-align: center; }
  header .header-nav {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    header .header-nav .main-menu {
      background: url("../img/menu.png") center center no-repeat;
      width: 25px;
      height: 18px;
      text-align: center; }
      header .header-nav .main-menu ul {
        display: none;
        padding: 0; }
    header .header-nav .logo {
      margin-right: 40%;
      background: url("../img/logo.png") center center no-repeat;
      width: 162px;
      height: 19px; }
    header .header-nav .number {
      padding: 11px 37px 10px 36px;
      color: #000;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      letter-spacing: 0.96px;
      border-radius: 10px;
      background-color: #ffd200; }
      header .header-nav .number::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px dotted #000; }
    header .header-nav .login-in {
      background: url("../img/exit.png") center center no-repeat;
      width: 33px;
      height: 29px; }
  header .promo {
    padding: 50px 0;
    background: #e2dad1 url("../img/banner.jpg") 50% 100% no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 550px; }
    header .promo h1 {
      margin-bottom: 26px;
      font-family: "PF Agora Sans Pro - X Thin";
      font-size: 60px;
      font-weight: 400;
      font-variant: small-caps;
      letter-spacing: 1.32px; }
    header .promo p {
      margin-bottom: 69px;
      font-family: "PF Agora Sans Pro";
      font-size: 24px;
      font-weight: 300; }

main .steps {
  padding-top: 55px;
  padding-bottom: 92px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  position: relative;
  vertical-align: midle; }
  main .steps:before {
    content: "";
    display: block;
    position: absolute;
    top: 124px;
    width: 80%;
    height: 5px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #ffd200 12px, #ffffff 12px);
    background-repeat: repeat-x;
    background-size: 24px 5px; }
  main .steps .step {
    z-index: 10;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 24px; }
    main .steps .step img {
      width: 100%;
      margin-bottom: 25px;
      max-height: 139px;
      background-color: #fff; }

.advantage {
  padding-top: 8px;
  padding-bottom: 77px;
  outline-style: 77px;
  background-color: #f3f0e7;
  text-align: center; }
  .advantage h2 {
    margin-bottom: 67px;
    font-family: "PF Agora Sans Pro - X Thin";
    font-size: 60px;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 1.32px; }
  .advantage .wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around; }
    .advantage .wrapper .advantage-item {
      margin-bottom: 85px;
      width: 21%; }
      .advantage .wrapper .advantage-item img {
        width: 95%; }
      .advantage .wrapper .advantage-item h3 {
        font-size: 24px;
        font-weight: 300; }
      .advantage .wrapper .advantage-item p {
        font-size: 16px;
        font-weight: 300; }
  .advantage .box-botton .button-o {
    color: #fff;
    background-color: #e11a27; }

.products {
  padding-top: 22px;
  padding-bottom: 118px;
  text-align: center; }
  .products h2 {
    font-family: "PF Agora Sans Pro - X Thin";
    font-size: 60px;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 1.32px; }
  .products .wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around; }
    .products .wrapper .products-item {
      width: 25%;
      border-radius: 10px;
      border: 5px solid #ffd200; }
      .products .wrapper .products-item .best {
        width: 100%;
        position: relative; }
        .products .wrapper .products-item .best:before {
          content: '';
          display: block;
          position: absolute;
          top: -27px;
          left: 52px;
          width: 155px;
          border: 22px solid #ffd200;
          border-top: none;
          border-left-color: transparent;
          border-right-color: transparent; }
        .products .wrapper .products-item .best:after {
          content: "bestseller";
          position: absolute;
          top: -23px;
          left: -7px;
          width: 100%;
          font-weight: 700;
          font-size: 21px;
          letter-spacing: 0.53px;
          text-align: center;
          font-variant: small-caps;
          color: #e11a27; }
      .products .wrapper .products-item h3 {
        margin: 0;
        padding: 45px 57px;
        background-color: #ffd200;
        font-size: 36px;
        font-weight: 400;
        font-variant: small-caps;
        letter-spacing: 1.05px; }
      .products .wrapper .products-item ul {
        margin-top: 22px;
        height: 37%; }
        .products .wrapper .products-item ul li {
          padding-left: 20px;
          margin-bottom: 15px;
          list-style-type: none;
          font-size: 18px;
          font-weight: 400;
          text-align: left; }
          .products .wrapper .products-item ul li::before {
            content: "";
            display: block;
            position: absolute;
            background: url("../img/li.png") center no-repeat;
            width: 20px;
            height: 20px;
            transform: translate(-30px, 0); }
      .products .wrapper .products-item p {
        margin: auto;
        margin-bottom: 18px;
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -1.32px; }
      .products .wrapper .products-item a {
        padding: 14px 30px;
        display: block;
        font-family: "PF Agora Sans Pro - Thin";
        color: #000;
        background-color: #ffd200;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1.16px;
        font-variant: small-caps;
        text-decoration: none; }
      .products .wrapper .products-item span {
        letter-spacing: 1.54px; }

.reviews {
  padding-top: 41px;
  padding-bottom: 54px;
  background: #f7f0e6 url("../img/banner_2.jpg") center no-repeat;
  background-size: cover; }
  .reviews .wrapper {
    width: 50%;
    margin: 0 15%; }
    .reviews .wrapper h2 {
      margin: 0;
      margin-bottom: 57px;
      font-family: "PF Agora Sans Pro - X Thin";
      font-size: 60px;
      font-weight: 400;
      font-variant: small-caps;
      letter-spacing: 1.32px; }
    .reviews .wrapper .reviews-item .header {
      margin-bottom: 26px;
      min-height: 158px;
      position: relative;
      padding-left: 22%;
      padding-top: 2%; }
      .reviews .wrapper .reviews-item .header::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/0.png") no-repeat;
        width: 158px;
        height: 158px; }
      .reviews .wrapper .reviews-item .header h3 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 300;
        font-variant: small-caps;
        letter-spacing: 0.66px; }
      .reviews .wrapper .reviews-item .header p {
        margin: 0;
        font-size: 18px;
        font-weight: 300; }
    .reviews .wrapper .reviews-item p {
      width: 60%; }
    .reviews .wrapper a {
      width: 60%;
      margin-top: 40px;
      padding-right: 35px;
      margin-bottom: 115px;
      display: block;
      position: relative;
      color: #000000;
      font-family: "PF Agora Sans Pro - Thin";
      text-align: right;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none; }
      .reviews .wrapper a::after {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        right: 0px;
        background: url("../img/next_arrow.png") no-repeat;
        width: 26px;
        height: 3px; }
    .reviews .wrapper .button {
      margin-left: 7%; }

/*# sourceMappingURL=style.css.map */
