@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-reg.ttf");
  font-weight: 300, 400; }

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/ofont.ru_PF Agora Sans Pro.ttf");
  font-weight: 300; }

@font-face {
  font-family: "PF Agora Sans Pro - Thin";
  src: url("../fonts/pfagorasanspro-thin.ttf");
  font-weight: 400; }

@font-face {
  font-family: "PF Agora Sans Pro - X Thin";
  src: url("../fonts/pfagorasanspro-xthin.ttf");
  font-weight: 400; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: "PF Agora Sans Pro";
  color: #000; }

.button {
  padding: 24px 36px;
  color: #212121;
  font-family: "PF Agora Sans Pro - Thin";
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.16px;
  border-radius: 10px;
  border: 1px solid #010101;
  background-color: transparent; }
  .button:hover {
    cursor: pointer;
    color: #ffd200;
    border: 1px solid  #ffd200; }

main .box-botton .button-o:hover {
  background-color: #ffd200; }

header {
  padding-top: 21px;
  margin: 0 auto;
  text-align: center; }
  header .header-nav {
    margin-bottom: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    header .header-nav .main-menu {
      background: url("../img/menu.png") center center no-repeat;
      width: 25px;
      height: 18px;
      text-align: center; }
      header .header-nav .main-menu ul {
        display: none;
        padding: 0; }
    header .header-nav .logo {
      margin-right: 40%;
      background: url("../img/logo.png") center center no-repeat;
      width: 162px;
      height: 19px; }
    header .header-nav .number {
      padding: 11px 37px 10px 36px;
      color: #000;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      letter-spacing: 0.96px;
      border-radius: 10px;
      background-color: #ffd200; }
      header .header-nav .number::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px dotted #000; }
    header .header-nav .login-in {
      background: url("../img/exit.png") center center no-repeat;
      width: 33px;
      height: 29px; }
  header .promo {
    padding: 50px 0;
    background: #e2dad1 url("../img/banner.jpg") 50% 100% no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 550px; }
    header .promo h1 {
      margin-bottom: 26px;
      font-family: "PF Agora Sans Pro - X Thin";
      font-size: 60px;
      font-weight: 400;
      font-variant: small-caps;
      letter-spacing: 1.32px; }
    header .promo p {
      margin-bottom: 69px;
      font-family: "PF Agora Sans Pro";
      font-size: 24px;
      font-weight: 300; }

main .steps {
  padding-top: 55px;
  padding-bottom: 92px;
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  vertical-align: midle; }
  main .steps:before {
    content: "";
    display: block;
    position: absolute;
    top: 124px;
    width: 80%;
    height: 5px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #ffd200 12px, #ffffff 12px);
    background-repeat: repeat-x;
    background-size: 24px 5px; }
  main .steps .step {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 24px; }
    main .steps .step img {
      width: 100%;
      margin-bottom: 25px;
      max-height: 139px;
      background-color: #fff; }

.advantage {
  padding-top: 58px;
  padding-bottom: 77px;
  outline-style: 77px;
  background-color: #f3f0e7;
  text-align: center; }
  .advantage h2 {
    font-family: "PF Agora Sans Pro - X Thin";
    font-size: 60px;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 1.32px; }
  .advantage .wrapper {
    margin: 0 auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .advantage .wrapper .advantage-item {
      margin-bottom: 85px;
      width: 21%; }
      .advantage .wrapper .advantage-item img {
        width: 95%; }
      .advantage .wrapper .advantage-item h3 {
        font-size: 24px;
        font-weight: 300; }
      .advantage .wrapper .advantage-item p {
        font-size: 16px;
        font-weight: 300; }
  .advantage .box-botton .button-o {
    color: #fff;
    background-color: #e11a27; }
